<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="resultat" method="get">
		<label>Nom :</label> 
		<input name="firstName" type="text" required="required"></input><br> 
		<label>Prenom:</label>
		<input name="lastName" type="text"></input> <br>
		<label>Email :</label>
		<input name="email" type="email"></input><br>
		<input type="submit" value="ajouter"></input>
	</form>

</body>
</html>